## 🛡️ Policy Evaluation

| **Environments** | **Success** | **Omitted** | **Failed (Blocking 🚫, Warning ⚠️, Recommend 💡)** |
|--------------|---------|---------|--------|
{{range $env, $sum := .PolicyEvaluation.EnvironmentSummary}}| `{{ $env }}` | `{{ $sum.PolicyCounts.TotalSuccess }}`✅ | `{{ $sum.PolicyCounts.TotalOmitted }}`⏭️ | `{{ $sum.PolicyCounts.TotalFailed }}`❌ (`{{ $sum.PolicyCounts.BlockingFailedCount }}`🚫, `{{ $sum.PolicyCounts.WarningFailedCount }}`⚠️, `{{ $sum.PolicyCounts.RecommendFailedCount }}`💡) |
{{ end }}

<details> <summary> Policy Evaluation Matrix: </summary>

| Policy Name | Level | stg | prod | [Override Command](https://example.com/docs/high-availability) |
|-------------|-------|-----|------|------------------|
{{range $policy := .PolicyEvaluation.PolicyMatrix.stg.BlockingPolicies}}| {{if $policy.ExternalLink}}[{{$policy.PolicyName}}]({{$policy.ExternalLink}}){{else}}{{$policy.PolicyName}}{{end}} | 🚫 | {{if $policy.IsPassing}}✅ PASS{{else}}❌ FAIL{{end}} | {{range $prodPolicy := $.PolicyEvaluation.PolicyMatrix.prod.BlockingPolicies}}{{if eq $prodPolicy.PolicyId $policy.PolicyId}}{{if $prodPolicy.IsPassing}}✅ PASS{{else}}❌ FAIL{{end}}{{end}}{{end}} | {{if $policy.OverrideCommand}}`{{$policy.OverrideCommand}}`{{else}}Not allowed{{end}} |
{{end -}}
{{range $policy := .PolicyEvaluation.PolicyMatrix.stg.WarningPolicies}}| {{if $policy.ExternalLink}}[{{$policy.PolicyName}}]({{$policy.ExternalLink}}){{else}}{{$policy.PolicyName}}{{end}} | ⚠️ | {{if $policy.IsPassing}}✅ PASS{{else}}❌ FAIL{{end}} | {{range $prodPolicy := $.PolicyEvaluation.PolicyMatrix.prod.WarningPolicies}}{{if eq $prodPolicy.PolicyId $policy.PolicyId}}{{if $prodPolicy.IsPassing}}✅ PASS{{else}}❌ FAIL{{end}}{{end}}{{end}} | {{if $policy.OverrideCommand}}`{{$policy.OverrideCommand}}`{{else}}Not allowed{{end}} |
{{end -}}
{{range $policy := .PolicyEvaluation.PolicyMatrix.stg.RecommendPolicies}}| {{if $policy.ExternalLink}}[{{$policy.PolicyName}}]({{$policy.ExternalLink}}){{else}}{{$policy.PolicyName}}{{end}} | 💡 | {{if $policy.IsPassing}}✅ PASS{{else}}❌ FAIL{{end}} | {{range $prodPolicy := $.PolicyEvaluation.PolicyMatrix.prod.RecommendPolicies}}{{if eq $prodPolicy.PolicyId $policy.PolicyId}}{{if $prodPolicy.IsPassing}}✅ PASS{{else}}❌ FAIL{{end}}{{end}}{{end}} | {{if $policy.OverrideCommand}}`{{$policy.OverrideCommand}}`{{else}}Not allowed{{end}} |
{{end -}}
{{range $policy := .PolicyEvaluation.PolicyMatrix.stg.OverriddenPolicies}}| {{if $policy.ExternalLink}}[{{$policy.PolicyName}}]({{$policy.ExternalLink}}){{else}}{{$policy.PolicyName}}{{end}} | ⏭️ | {{if $policy.IsPassing}}✅ PASS{{else}}❌ FAIL{{end}} | {{range $prodPolicy := $.PolicyEvaluation.PolicyMatrix.prod.OverriddenPolicies}}{{if eq $prodPolicy.PolicyId $policy.PolicyId}}{{if $prodPolicy.IsPassing}}✅ PASS{{else}}❌ FAIL{{end}}{{end}}{{end}} | {{if $policy.OverrideCommand}}`{{$policy.OverrideCommand}}`{{else}}Not allowed{{end}} |
{{end -}}
{{range $policy := .PolicyEvaluation.PolicyMatrix.stg.NotInEffectPolicies}}| {{if $policy.ExternalLink}}[{{$policy.PolicyName}}]({{$policy.ExternalLink}}){{else}}{{$policy.PolicyName}}{{end}} | ⏭️ | {{if $policy.IsPassing}}✅ PASS{{else}}❌ FAIL{{end}} | {{range $prodPolicy := $.PolicyEvaluation.PolicyMatrix.prod.NotInEffectPolicies}}{{if eq $prodPolicy.PolicyId $policy.PolicyId}}{{if $prodPolicy.IsPassing}}✅ PASS{{else}}❌ FAIL{{end}}{{end}}{{end}} | {{if $policy.OverrideCommand}}`{{$policy.OverrideCommand}}`{{else}}Not allowed{{end}} |
{{end}}

</details>

<details> <summary> Failing Policies Details: </summary>

{{- if or (gt .PolicyEvaluation.EnvironmentSummary.stg.PolicyCounts.TotalErrored 0) (gt .PolicyEvaluation.EnvironmentSummary.prod.PolicyCounts.TotalErrored 0) }}

### 🔥 ERRORED Policies (Evaluation Failure)

##### [`stg`] environment 

{{- if gt .PolicyEvaluation.EnvironmentSummary.stg.PolicyCounts.BlockingErroredCount 0 }}
**🚫 BLOCKING:**
{{range $policy := .PolicyEvaluation.PolicyMatrix.stg.BlockingPolicies}}{{if eq $policy.EvaluationStatus "error"}}
* Policy `{{$policy.PolicyName}}` errored: {{$policy.ErrorMessage}}
{{end}}{{end}}
{{end}}

{{- if gt .PolicyEvaluation.EnvironmentSummary.stg.PolicyCounts.WarningErroredCount 0 }}
**⚠️ WARNING:**
{{range $policy := .PolicyEvaluation.PolicyMatrix.stg.WarningPolicies}}{{if eq $policy.EvaluationStatus "error"}}
* Policy `{{$policy.PolicyName}}` errored: {{$policy.ErrorMessage}}
{{end}}{{end}}
{{end}}

{{- if gt .PolicyEvaluation.EnvironmentSummary.stg.PolicyCounts.RecommendErroredCount 0 }}
**💡 RECOMMEND:**
{{range $policy := .PolicyEvaluation.PolicyMatrix.stg.RecommendPolicies}}{{if eq $policy.EvaluationStatus "error"}}
* Policy `{{$policy.PolicyName}}` errored: {{$policy.ErrorMessage}}
{{end}}{{end}}
{{end}}

{{- if and (eq .PolicyEvaluation.EnvironmentSummary.stg.PolicyCounts.BlockingErroredCount 0) (eq .PolicyEvaluation.EnvironmentSummary.stg.PolicyCounts.WarningErroredCount 0) (eq .PolicyEvaluation.EnvironmentSummary.stg.PolicyCounts.RecommendErroredCount 0) }}
* None! 🙌
{{- end}}

##### [`prod`] environment 

{{- if gt .PolicyEvaluation.EnvironmentSummary.prod.PolicyCounts.BlockingErroredCount 0 }}
**🚫 BLOCKING:**
{{range $policy := .PolicyEvaluation.PolicyMatrix.prod.BlockingPolicies}}{{if eq $policy.EvaluationStatus "error"}}
* Policy `{{$policy.PolicyName}}` errored: {{$policy.ErrorMessage}}
{{end}}{{end}}
{{end}}

{{- if gt .PolicyEvaluation.EnvironmentSummary.prod.PolicyCounts.WarningErroredCount 0 }}
**⚠️ WARNING:**
{{range $policy := .PolicyEvaluation.PolicyMatrix.prod.WarningPolicies}}{{if eq $policy.EvaluationStatus "error"}}
* Policy `{{$policy.PolicyName}}` errored: {{$policy.ErrorMessage}}
{{end}}{{end}}
{{end}}

{{- if gt .PolicyEvaluation.EnvironmentSummary.prod.PolicyCounts.RecommendErroredCount 0 }}
**💡 RECOMMEND:**
{{range $policy := .PolicyEvaluation.PolicyMatrix.prod.RecommendPolicies}}{{if eq $policy.EvaluationStatus "error"}}
* Policy `{{$policy.PolicyName}}` errored: {{$policy.ErrorMessage}}
{{end}}{{end}}
{{end}}

{{- if and (eq .PolicyEvaluation.EnvironmentSummary.prod.PolicyCounts.BlockingErroredCount 0) (eq .PolicyEvaluation.EnvironmentSummary.prod.PolicyCounts.WarningErroredCount 0) (eq .PolicyEvaluation.EnvironmentSummary.prod.PolicyCounts.RecommendErroredCount 0) }}
* None! 🙌
{{- end}}

{{end}}

#### 🚫 BLOCKING Policies |{{range $env, $sum := .PolicyEvaluation.EnvironmentSummary}} `{{$env}}`: `{{$sum.PolicyCounts.BlockingFailedCount}}`❌ |{{end}}

_These policies are enforced to protect the stability of the platform. Failing for these policies will prevent your PR from merging. Please reach out to Service Platform Team on Slack if you believe there was a mistake._

##### [`stg`] environment 

{{- if gt .PolicyEvaluation.EnvironmentSummary.stg.PolicyCounts.BlockingFailedCount 0 }}

{{range $policy := .PolicyEvaluation.PolicyMatrix.stg.BlockingPolicies}}{{if not $policy.IsPassing}}
* Policy `{{$policy.PolicyName}}` failed with the following messages:
{{range $msg := $policy.FailMessages}}  * {{$msg}}
{{end}}
{{end}}{{end}}

{{else}}
* None! 🙌
{{end}}

##### [`prod`] environment 

{{- if gt .PolicyEvaluation.EnvironmentSummary.prod.PolicyCounts.BlockingFailedCount 0 }}

{{range $policy := .PolicyEvaluation.PolicyMatrix.prod.BlockingPolicies}}{{if not $policy.IsPassing}}
* Policy `{{$policy.PolicyName}}` failed with the following messages:
{{range $msg := $policy.FailMessages}}  * {{$msg}}
{{end}}
{{end}}{{end}}
{{else}}
* None! 🙌
{{end}}

#### ⚠️ WARNING Policies | {{range $env, $sum := .PolicyEvaluation.EnvironmentSummary}} `{{$env}}`: `{{$sum.PolicyCounts.WarningFailedCount}}`❌ |{{end}}

_These policies mean they are in effect and are being enforced. Evaluation failure will cause the CI/CD to fail, but you can still merge it._

##### [`stg`] environment 

{{- if gt .PolicyEvaluation.EnvironmentSummary.stg.PolicyCounts.WarningFailedCount 0 }}

{{range $policy := .PolicyEvaluation.PolicyMatrix.stg.WarningPolicies}}{{if not $policy.IsPassing}}
* Policy `{{$policy.PolicyName}}` failed with the following messages:
{{range $msg := $policy.FailMessages}}  * {{$msg}}
{{end}}
{{end}}{{end}}
{{else}}
* None! 🙌
{{end}}

##### [`prod`] environment

{{- if gt .PolicyEvaluation.EnvironmentSummary.prod.PolicyCounts.WarningFailedCount 0 }}

{{range $policy := .PolicyEvaluation.PolicyMatrix.prod.WarningPolicies}}{{if not $policy.IsPassing}}
* Policy `{{$policy.PolicyName}}` failed with the following messages:
{{range $msg := $policy.FailMessages}}  * {{$msg}}
{{end}}
{{end}}{{end}}
{{else}}
* None! 🙌
{{end}}

#### 💡 RECOMMEND Policies | {{range $env, $sum := .PolicyEvaluation.EnvironmentSummary}} `{{$env}}`: `{{$sum.PolicyCounts.RecommendFailedCount}}`❌ |{{end}}

_These policies mean they are in effect and not being enforced or have yet to be enforced. They serve as a recommendation for actions to be taken._

##### [`stg`] environment
{{- if gt .PolicyEvaluation.EnvironmentSummary.stg.PolicyCounts.RecommendFailedCount 0 }}

{{range $policy := .PolicyEvaluation.PolicyMatrix.stg.RecommendPolicies}}{{if not $policy.IsPassing}}
* Policy `{{$policy.PolicyName}}` failed with the following messages:
{{range $msg := $policy.FailMessages}}  * {{$msg}}
{{end}}
{{end}}{{end}}
{{else}}
* None! 🙌
{{end}}

##### [`prod`] environment 

{{- if gt .PolicyEvaluation.EnvironmentSummary.prod.PolicyCounts.RecommendFailedCount 0 }}

{{range $policy := .PolicyEvaluation.PolicyMatrix.prod.RecommendPolicies}}{{if not $policy.IsPassing}}
* Policy `{{$policy.PolicyName}}` failed with the following messages:
{{range $msg := $policy.FailMessages}}  * {{$msg}}
{{end}}
{{end}}{{end}}
{{else}}
* None! 🙌
{{end}}

#### ⏭️ Omitted Policies | {{range $env, $sum := .PolicyEvaluation.EnvironmentSummary}} `{{$env}}`: `{{$sum.PolicyCounts.TotalOmittedFailed}}`❌ |{{end}}

_These policies mean they are not yet in effect, or have been overridden._

##### [`stg`] environment 

{{- if gt .PolicyEvaluation.EnvironmentSummary.stg.PolicyCounts.TotalOmittedFailed 0 }}

{{range $policy := .PolicyEvaluation.PolicyMatrix.stg.OverriddenPolicies}}{{if not $policy.IsPassing}}
* Policy `{{$policy.PolicyName}}` failed with the following messages:
{{range $msg := $policy.FailMessages}}  * {{$msg}}
{{end}}
{{end}}{{end}}

{{range $policy := .PolicyEvaluation.PolicyMatrix.stg.NotInEffectPolicies}}{{if not $policy.IsPassing}}
* Policy `{{$policy.PolicyName}}` failed with the following messages:
{{range $msg := $policy.FailMessages}}  * {{$msg}}
{{end}}
{{end}}{{end}}

{{else}}
* None! 🙌
{{end}}

##### [`prod`] environment 

{{- if gt .PolicyEvaluation.EnvironmentSummary.prod.PolicyCounts.TotalOmittedFailed 0 }}

{{range $policy := .PolicyEvaluation.PolicyMatrix.prod.OverriddenPolicies}}{{if not $policy.IsPassing}}
* Policy `{{$policy.PolicyName}}` failed with the following messages:
{{range $msg := $policy.FailMessages}}  * {{$msg}}
{{end}}
{{end}}{{end}}

{{range $policy := .PolicyEvaluation.PolicyMatrix.prod.NotInEffectPolicies}}{{if not $policy.IsPassing}}
* Policy `{{$policy.PolicyName}}` failed with the following messages:
{{range $msg := $policy.FailMessages}}  * {{$msg}}
{{end}}
{{end}}{{end}}

{{else}}
* None! 🙌
{{end}}

</details>